# Package files
include LICENSE
include README.md
include CHANGELOG.md
include CONTRIBUTING.md
include CODE_OF_CONDUCT.md
include pyproject.toml
include poetry.toml
include tox.ini
include .pre-commit-config.yaml
include .readthedocs.yaml

# Type hints
recursive-include src py.typed
recursive-include src/pypackage_template *.pyi

# Documentation
recursive-include docs/source *.rst
recursive-include docs/source *.py
recursive-include docs/source *.md
recursive-include docs/_templates *.html
recursive-include docs/_static *
include docs/Makefile

# Tests
recursive-include tests *.py
recursive-include tests/data *

# Scripts
recursive-include scripts *.py
recursive-include scripts *.sh

# Exclude
recursive-exclude * __pycache__
recursive-exclude * *.py[cod]
recursive-exclude * .*.sw*
recursive-exclude * .DS_Store
recursive-exclude .git *
recursive-exclude .tox *
recursive-exclude .venv *
recursive-exclude build *
recursive-exclude dist *
recursive-exclude htmlcov *
recursive-exclude *.egg-info *
recursive-exclude docs/_build *

# Patterns to exclude
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git*
global-exclude .ipynb_checkpoints
global-exclude .coverage
global-exclude .pytest_cache
global-exclude .mypy_cache
global-exclude .tox
global-exclude __pycache__
